{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">All articles</h1>
{{ end }}

{{ $pinned := where .Data.Pages "Params.pin" true }}
{{ $unpinned := where .Data.Pages "Params.pin" "ne" true }}
<ul class="posts">
	{{- range $pinned -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<li class="post">
			<span class="pin-indicator" title="Pinned post"></span>
			<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
		</li>
		{{- end -}}
	{{- end -}}
	{{- range $unpinned -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<li class="post">
			<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
		</li>
		{{- end -}}
	{{- end -}}
</ul>
{{ end }}
