<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}

			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $visible := where $pages "Params.hidden" "ne" true }}
				{{ $pinned := where $visible "Params.pin" true }}
				{{ $unpinned := where $visible "Params.pin" "ne" true }}
				{{ $sorted := union $pinned $unpinned }}
				{{ $paginator := .Paginate $sorted }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h1 class="title">
						{{- if .Params.pin }}<span class="pin-indicator" title="Pinned post"></span> {{ end -}}
						<a href="{{ .RelPermalink }}">{{.Title}}</a>
					</h1>
					<time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
					<br>{{ template "partials/pagedescription.html" . }}
					<a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>

	</body>
</html>
